{% extends 'base.html.twig' %}

{% block title %}New Processo{% endblock %}

{% block body %}
    <h1>Create new Processo</h1>

    {{ include('processo/_form.html.twig') }}

    <a href="{{ path('app_processo_index') }}">back to list</a>
{% endblock %}
