
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>

        Lista de tipos de documentos:<br>
        

            <ul>
                {% for tipoDocumento  in tipoDocumentoList %}
                    <a href="?php echo url_for('editarTipoDocumento?id={{ tipoDocumento.id|e }}') ?>">
                        <li>{{ tipoDocumento.id|e }} - {{ tipoDocumento.categoria|e }}</li>
                    </a>
                {% endfor %}
            </ul>
 
    </body>
</html>