{% extends 'base.html.twig' %}

{% block title %}Edit TipoDocumento{% endblock %}

{% block body %}
    <h1>Edit TipoDocumento</h1>

    {{ include('tipo_documento_controller_gen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tipo_documento_controller_gen_index') }}">back to list</a>

    {{ include('tipo_documento_controller_gen/_delete_form.html.twig') }}
{% endblock %}
