{% extends 'base.html.twig' %}

{% block title %}New TipoDocumento{% endblock %}

{% block body %}
    <h1>Create new TipoDocumento</h1>

    {{ include('tipo_documento_controller_gen/_form.html.twig') }}

    <a href="{{ path('app_tipo_documento_controller_gen_index') }}">back to list</a>
{% endblock %}
